body {
    margin: 0;
    font-family: Arial, sans-serif;
   background: linear-gradient(to right, #5f0a0a, #ff8c42);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: rgba(0,0,0,0.6);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a.active {
    border-bottom: 2px solid yellow;
}

nav a:hover {
    color: yellow;
}

.about {
    text-align: center;
    padding: 80px 10%;
}

.about h1 {
    font-size: 40px;
    text-shadow: 0 0 15px yellow;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.hobby-gallery {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
}

.hobby-gallery img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
}

.hobby-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px white;
}