body {
    margin: 0;
    font-family: Arial, sans-serif;
   background: linear-gradient(to right, #0f3d3e, #1a5f63);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: rgba(0,0,0,0.6);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a.active {
    border-bottom: 2px solid cyan;
}

nav a:hover {
    color: cyan;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10%;
    gap: 60px;
}

.hero-img img {
    width: 300px;
    border-radius: 50%;
    transition: 0.4s;
}

.hero-img img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px cyan;
}

.hero-text h1 {
    font-size: 40px;
    text-shadow: 0 0 10px cyan;
}

.hero-text p {
    max-width: 500px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: cyan;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

.gallery {
    text-align: center;
    padding: 60px 10%;
}

.gallery-title {
    font-size: 32px;
    text-shadow: 0 0 15px cyan;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.gallery-container img {
    width: 300px;
    border-radius: 15px;
    transition: 0.4s;
}

.gallery-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px white;
}